.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  @media screen and (min-width: 768px) {
    margin-bottom: -30px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: -30px;
  }
}

.clients__item {
  border: 1px solid $icon-border-color;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  cursor: pointer;
  margin-left: 30px;
  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid $icon-border-color;
  border-radius: 4px;
  fill: $icon-border-color;
  transition: border-color $transition-time $transition-function;
  &:hover,
  &:focus {
    border-color: $back-ground-color;
    fill: $back-ground-color;
  }
}

.clients__link-icon {
  width: 106px;
  height: 60px;
  transition: fill $transition-time $transition-function;
  &:hover,
  &:focus {
    border-color: $command-fon;
    fill: $command-fon;
  }
}
