
.header {
	background-color: $secondary-text-color;
	border-bottom: 2px solid $border-line-color;
}

.container__header {
	display: flex;
	align-items: center;
}

.contacts {
	margin-left: auto;
}

.menu {
	margin-left: 93px;
}

.contacts__item .contacts__link-icon {
	margin-right: 10px;
	fill: currentColor;
}

.contacts__link {
	display: flex;
	align-items: center;
	padding: 32px 0px;
	transition: color $transition-time $transition-function;
}
